html,
body,
p {
    padding: 0;
    margin: 0;
    position: relative;
}

.new-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
    color: #00ecbb;
    font-size: 40px;
}

h1 {
    color: black;
    font-size: 36px;
    margin-top: 0;
}

.bold-text {
    font-weight: bold;
}

.grey-text {
    background-color: #eeeeee;
}

.block1 {
    width: 850px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
    font-size: 30px;
    font-weight: 500;
}

.nav li {
    display: inline-block;
    padding: 5;
    margin: 5;
    cursor: pointer;
}

.nav li a {
    text-decoration: none;
    color: #DC358F;
}

.name-tag {
    font-size: 32px;
    letter-spacing: 10px;
}

.img-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.block1.no-padding-top {
    padding-top: 0;
}


#gotop {
    text-decoration: none;
    display: inline-block;
    height: 74px;
    width: 74px;
    background: #00ecbb;
    color: #6A13EB;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    
    position: fixed;
    bottom: 80px;
    right: 60px;
}

.text-overlap {
    position: relative; 
    padding: 0 60px; 
    top: -90px; 
    margin: 0;
}

.social-links__link {
    display: block;
    width: 32px;
    height: 32px;
}

